<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 footer">
        <p class="text-center small" id="copyright">Copyright &copy; 2017 <a href="https://cabelin.com">Cabelin Software Solutions</a></p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
