$grayish: #e6ecf0;
$gray: #acb1b4;
$blue: #1DA1F2;
$menuText: #66757f;
$whiteish: #fff;

body {
	background-color: $grayish;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

h1 {
	font-weight: bold;
	color: black;
}

.logo {
	font-family: 'Pacifico', cursive;
	.whiteish {
		color: $whiteish;
	}
	.darkish {
		color: $blue !important;
	}
}

.logo-white {
	color: $whiteish;
}

.navbar {
	background-color: $whiteish;
	color: $menuText;
	border-bottom: 1px solid $gray;
	li a:hover, .active {
		color: $blue;
		padding-bottom: 13px;
		border-bottom: 2px solid $blue;
	}
}

.well {
	background-color: $whiteish;
}

.jumbotron {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1da1f2+0,2989d8+0,7db9e8+100 */
	background: #1da1f2; /* Old browsers */
	background: -moz-linear-gradient(left, #1da1f2 0%, #2989d8 0%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #1da1f2 0%,#2989d8 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #1da1f2 0%,#2989d8 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1da1f2', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
	color: $whiteish;
	border-radius: 0 !important;
}

.fa-twitter {
	color: $blue;
}

.btn {
	margin-right: 10px;
	border-radius: 100px;
}

.btn-twitter {
	background-color: $blue;
	color: $whiteish;
	border: 1px solid $blue;
}

.thumbnail {
	max-height: 100px;
}

.list-group-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.list-group-item:hover {
	background-color: lighten($blue, 10%);
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.footer {
	min-height: 200px;
	display: table;
	position: relative;
	width: 100%;
	#copyright {
		width: 100%;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

.navbar-default .navbar-toggle {
  border-color: rgba(0,0,0,0);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: rgba(0,0,0,0);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $blue;
}

@media screen and (max-width:480px) {
	h3 {
		font-size: 1em;
	}
}
